// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	max-width: 100%;
}


/* my LESS */

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto&display=swap');


/*Variable*/
// @main-color: skyblue;
// @second-color:green;
// @heading-font: 'Roboto Mono', monospace;
// @border: 2px dotted orange;

// /*mix-ins*/
// .centre(){
//   display:flex;
//   justify-content:center;
//   align-items:center;
// }
// .border(){
//   border:2px dotted orange;
//   margin:2%;
//   padding:2%;
// }
// html {
//   box-sizing: border-box;
//   font-size: 62.5%; 
// }

// *, *:before, *:after {
//   box-sizing: inherit;
// }

/* Variables */

@bodyfont: 'Roboto', sans-serif;
@bodycolor: black;

@bgcolor: white;

@boxcolor: lightgrey;

@buttoncolor: grey;
@buttontext: white;



/* Mix-Ins */

.content-style(){
	font-size: 1.6rem;
	// line-height: 1.5em;
	width: 98%;
	margin: 1%;
}

.button-style(){
	border: none;
	border-radius: 3px;
	background-color: @buttoncolor;
	color: @buttontext;
	font-size: 2.0rem;
	padding: 10px;
}

.h3-style(){
	font-weight: bold;
	font-size: 2.4rem;
	margin-bottom: 10px;
}

.row-justify-right(){
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
};

.row-justify-center(){
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
};

.column-justify-right(){
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: flex-start;
}

/* LESS */

html, body {
	font-size: 62.5%;
	color: @bodycolor;
	font-family: @bodyfont;
	
	a { 
		color: @bodycolor;
		text-decoration: none;
	}
	img {
		max-width: 100%;
	}
} // closes html, body

nav {
	.row-justify-right();
	.content-style();

	a {
		padding: 0px 5px;

	}
} // closes nav

header {
	.column-justify-right();
	.content-style();
	background-color: @boxcolor;

	div {
		padding: 10px;
		img {
			max-width: 250px;
		}
	}

	h1 {
		font-size: 4.2rem;
		font-weight: bold;
		margin-bottom: 10px;
		@media( max-width: 500px ) {
			font-size: 3.2rem;
		}
	}
	
	h2 {
		font-size: 2.4rem;
	}

	button {
		.button-style();
	}
} // closes header

main {
	.row-justify-center();
	.content-style();

	.narrative {
		width: 48%;
		margin: 10px 0px;
		line-height: 1.5em;
		@media( max-width: 500px ) {
			width: 100%;
		}
		h2 {
			font-weight: bold;
			font-size: 2.4rem;
			margin-bottom: 10px;
		}
	}

	.list {
		width: 48%;
		margin: 10px 0px;
		font-size: 2.0 rem;
		@media( max-width: 500px ) {
			width: 100%;
		}
		h3 {
			.h3-style();
		}
		li {
			padding: 10px;
			border: 1px grey solid;
		}
	}
	.table {
		width: 100%;
		h3 {
			.h3-style();
		}
		table {
			width: 100%;
			border-collapse: collapse;
			margin: 10px 0px;
			font-size: 2.0rem;
			td {
				border: 1px solid grey;
				padding: 8px;
			}

			tr:nth-child(even) {
				background-color: #f2f2f2;
			}
			th {
				padding: 8px;
				border: 1px solid grey;
				text-align: left;
				font-weight: bold;
				background-color: @boxcolor;
				color: @bodycolor;
			}
		}
	}
	/* Louis' Stretch CSS -- Contact Page -- contact form CSS and HTML modified from W3 Schools */

	.form {
		width: 100%;
		h3 {
			.h3-style();
		}
		input[type=text], select, textarea {
			width: 100%; /* Full width */
			padding: 12px; /* Some padding */  
			border: 1px solid #ccc; /* Gray border */
			border-radius: 4px; /* Rounded borders */
			box-sizing: border-box; /* Make sure that padding and width stays in place */
			margin-top: 6px; /* Add a top margin */
			margin-bottom: 16px; /* Bottom margin */
			resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
		}
		
		/* Style the submit button with a specific background color etc */
		input[type=submit] {
			.button-style();
		}
		
		/* When moving the mouse over the submit button */
		input[type=submit]:hover {
			background-color: slategray;
		}
		
		/* Add padding around the form */
		.contact-container {
			border-radius: 5px;
			padding: 20px 0px;
		}
	}
}

footer {
	.row-justify-center();
	.content-style();
	.copyright {
		width: 100%;
		text-align: center;
	}
}